<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="browserName" value="chrome"/>
    <parameter name="isHeadless" value="true"/>
    <parameter name="remoteUrl" value="http://localhost:4444/wd/hub"/>
    <test name="Tricentis Tests" parallel="methods" thread-count="3">
        <classes>
            <class name="tricentis.TricentisTests">
            </class>
        </classes>
    </test>
</suite>